* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-column {
    width: 70%;
    padding: 40px;
}

.profile-picture img {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info, .education, .languages ,.skills{
    margin-bottom: 30px;
    color: #555;
}

.contact-info h3, .education h3, .languages h3, .interests h3,.profile h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #F76C6A;
    
}

ul {
    list-style-type: none;
    color: #555;

}

.right-column h2 {
    font-size: 36px;
    color: #F76C6A;
}

.right-column h2 {
    font-size: 24px;
    color: #F76C6A;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.skills-qualities {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.skills, .qualities {
    width: 48%;
}

.skills h3, .qualities h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.skills ul, .qualities ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
}

.experience h3 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #555;
}

.experience p {
    margin-bottom: 15px;
}

.experience p strong {
    font-size: 18px;
    color: #F76C6A;
}
.title{
    color:#69332A;
    font-size: 70px;
}